
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;

}

.container{
   text-align: center;
   padding: 35px;
   border: solid 3px black;
   border-radius: 10px;
   background-color: rgb(111, 111, 146);
   align-items: center;
   justify-content: center;
}

#contador{
   height: 200px;
   font-size: 60px;
   display:flex;
   justify-content: center;
justify-content: center;
align-items: center;

}

.btn{
   margin-top: 10px;
   padding: 30px;
   border-style: none;
   background-color: brown;
   border-radius: 10px;

}




.btn:hover{
   background-color: beige;
   color: black;
   cursor: pointer;
}